    <footer class="footer">
      <div class="container">
          <div class="row">
              <p class="text-muted pull-left">Copyright &copy; 2010-<?php echo date('Y') ?>
                  <a href="<?php echo Meta('site_url'); ?>"><?php echo Meta('title'); ?></a></p>
              <p class="text-muted pull-right">
                  Powered by Dynamic CMS Technology <a href="mailto:metropolian@live.com">metropolian@live.com</a>
              </p>
            </div>
      </div>
    </footer>
    <script src="js/material.min.js" type="text/javascript"></script>
    <script src="js/ripples.min.js" type="text/javascript"></script>
    <script src="js/dependencies/sails.io.js" type="text/javascript"></script>
</body>
</html>
