.carousel {
   height: 480px;
    overflow: hidden;
    background-color: #2c3e50;
}

.carousel .carousel-caption { 
    left: 0; right: 0; bottom: 0; 
    padding: 15px;
    z-index: 9;
    background: rgba(0, 0, 0, 0.5); 
    color: white;
}
.carousel-control.left,
.carousel-control.right {
  background: none;
}
.carousel-inner {
  height: 100%;
  
}
.carousel-inner > .item > img, 
.carousel-inner > .item > a > img{
  position: absolute;
  left: 0px;
  top: -50%;
  width: 100%;
  height: auto;
  display: block;
  margin: auto;
}

.carousel .carousel-inner .item {
  -webkit-transition: all 1.5s;
  transition: all 1.5s;
}
.carousel .carousel-inner .item,
.carousel .carousel-inner .active.left,
.carousel .carousel-inner .active.right {
  opacity: 0;
  transform: scale(1.1);
}
.carousel .carousel-inner .active,
.carousel .carousel-inner .next.left,
.carousel .carousel-inner .prev.right {
  opacity: 1;
}

.carousel .carousel-inner .next,
.carousel .carousel-inner .prev,
.carousel .carousel-inner .active.left,
.carousel .carousel-inner .active.right {
  left: 0;
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
}
.carousel-fade .carousel-control {
  z-index: 2;
}
.carousel .item {
    position: relative;
}

.carousel .carousel-text {
    transform: scale(0.9);
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
}

